<xml:group>

<component:itemDependencies>

  <table id="itemDependenciesGrid">
    <thead>
       <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
    </thead>
    <tbody>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
      <tr><td>Col1</td><td>Col2</td><td>Col3</td></tr>
    </tbody>
  </table>

</component:itemDependencies>

<component:body>
	<div id="container">
		<div id="editForm" ></div>
	</div>
</component:body>

<component:form>
  <div id="editForm">
  
    <script type="text/javascript" src="/javascript/rudder/angular/passwordForm.js" id="angular-passwordForm"></script>


    <div id="directiveTitle" class="page-title">Directive</div>

    <div class="tw-bs">
      <div class="bs-callout bs-callout-warning" id="deprecation-warning" role="alert">
        <h4>Technique version deprecated</h4>
        <div>This Directive uses a version of this Technique that is deprecated: <span id="deprecation-message"></span>.<br/>
           Please upgrade to a new version: <span id="migrate-button"></span>
        </div>
      </div>
    </div>

    <lift:authz role="directive_edit">
      <div id="pendingChangeRequestNotification">
        <div class="page-title">Pending change requests</div>
        <br />
        <div>
          <img src="/images/icWarn.png" alt="Warning!" height="32" width="32" class="warnicon"/>
          <div style="float:left">
            The following pending change requests affect this Directive, you should check that your modification is not already pending:
            <ul id="changeRequestList"></ul>
          </div>
        </div>
      </div>
  </lift:authz>


		<div id="directiveInfoTab" class="unfoldedSection" onclick="$('#directiveInfo').toggle(400); $('#directiveInfoTab').toggleClass('foldedSection');$('#directiveInfoTab').toggleClass('unfoldedSection');">
		  <div class="section-title">Directive information</div>
		</div>
       <div class="tw-bs">
	     <div id="directiveInfo"  class="row no-margin">
           <div id="nameField" class="form-group row">
             Here comes the name field
           </div>
           <div id="shortDescriptionField" class="form-group row">
             Here comes the shortDescription field
           </div>
           <div id="longDescriptionField" class="form-group row">
             Here comes the longDescription field
           </div>
           <div id="priority" class="form-group row">
             Here come the priority field
           </div>
           <div id="version" class="form-group row">
             Here come the version field
           </div>
           <div class="row">
             <div id="migrate" class="form-group col-lg-2 col-xs-12">
               Here come the version field
             </div>
           </div>
           <div class="directiveTechnicalInfo row">
             <div id="showTechnical" class="col-xs-12"></div>
           </div>
           <div id="technicalDetails" style="display:none" class="col-xs-12 well">
             <div class="directiveTechnicalInfo">
               <b class="threeCol">Technique name: </b>
               <span id="techniqueName">
                 Technique name
               </span>
             </div>
             <div class="directiveTechnicalInfo">
               <b class="threeCol">Technique description: </b>
               <span id="techniqueDescription">
                 Technique description
               </span>
             </div>
             <div class="directiveTechnicalInfo">
               <b class="threeCol">Technique unicity: </b>
               <span id="isSingle">
                 isSingle
               </span>
             </div>
             <div class="directiveTechnicalInfo">
               <b class="threeCol">Supported operating systems: </b>
               <div id="compatibilityOs">
                 System Compatibility
               </div>
             </div>
             <div class="directiveTechnicalInfo">
               <b class="threeCol">Supported agents: </b>
               <div id="compatibilityAgent">
                 System Compatibility
               </div>
             </div>
             <div class="directiveTechnicalInfo">
               <b class="threeCol">Directive Rudder ID: </b>
               <span id="rudderID">
                 Here comes the rudder ID
               </span>
             </div>
           </div>
         <br/>
         </div>
       </div>
        <div  id="directiveParametersTab" class="unfoldedSection" onclick="$('#parameters').toggle(400); $('#directiveParametersTab').toggleClass('foldedSection');$('#directiveParametersTab').toggleClass('unfoldedSection');">
          <div class="section-title">Parameters</div>
          <div id="notifications"></div>
        </div>
    <div id="parameters">Here goes the list of parameters</div>

    <div  id="ruleTargetSection" class="unfoldedSection" onclick="$('#directiveRulesTab').toggle(400); $('#ruleTargetSection').toggleClass('foldedSection');$('#ruleTargetSection').toggleClass('unfoldedSection');">
      <div class="section-title">Target Rules</div>
      </div>
		<div id="directiveRulesTab">
		 </div>
    <hr class="spacer"/>

  <div class="tw-bs content-header" id="directive-toolbar">
    <div class="col-xs-4">
      <h1>
        <button type="button" class="toggleTree btn btn-default" onclick="showHideTree(this,'.directiveTree')">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </button>
      </h1>
    </div>
    <lift:authz role="directive_edit">
      <div class="col-xs-8">
        <div class="toolbar-actions btn-toolbar text-center text-right-sm" role="toolbar">
          <div class="btn-group" role="group" aria-label="...">
            <button id="removeAction"></button>
            <button id="desactivateAction"></button>
            <button id="clone">[Clone]</button>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button id="save">Save</button>
          </div>
        </div>
      </div>
    </lift:authz>
  </div>

    <br/>
    </div>
    <div class="tw-bs">
      <div id="removeActionDialog" class="modal fade"></div>
    </div>
    <div class="tw-bs">
        <div id="disableActionDialog" class="modal fade"></div>
    </div>
    <div class="tw-bs">
        <div id="confirmUpdateActionDialog" class="modal fade"></div>
    </div>
    <div class="tw-bs">
      <div id="createCloneDirectivePopup" class="modal fade">
          <lift:ignore>
            This div gets the content of the createDirective injected within
          </lift:ignore>
        </div>
    </div>
</component:form>

<component:informationTab>
    <div class="page-title">Directive information</div>
      <div id="nameField">
        Here comes the name field
      </div>
      <hr class="spacer" />

      <div id="shortDescriptionField">
        Here comes the shortDescription field
      </div>
      <hr class="spacer" />

      <div id="longDescriptionField">
        Here comes the longDescription field
      </div>
      <hr class="spacer" />

      <div id="priority">
        Here come the priority field
      </div>
      <hr class="spacer" />
      <div class="directiveTechnicalInfo" id="showTechnical"></div>
      <div id="technicalDetails" style="display:none">

        <div class="directiveTechnicalInfo">
          <b class="threeCol">Technique name: </b>
          <span id="techniqueName">
            Technique name
          </span>
        </div>
        <hr class="spacer"/>

        <div class="directiveTechnicalInfo">
          <b class="threeCol">Technique description: </b>
          <span id="techniqueDescription">
            Technique description
          </span>
        </div>
        <hr class="spacer"/>

        <div class="directiveTechnicalInfo">
          <b class="threeCol">Technique unicity: </b>
          <span id="isSingle">
            isSingle
          </span>
        </div>
        <hr class="spacer"/>

        <div class="directiveTechnicalInfo">
          <b class="threeCol">Directive Rudder ID: </b>
          <span id="rudderID">
            Here comes the rudder ID
          </span>
        </div>
        <hr class="spacer"/>
      </div>
      <br/>
</component:informationTab>

    <component:ruleTargetTab>
    <div >
      <div class="inner-portlet" style="float:left; margin-top:40px; min-width:150px; width:30%; overflow: auto">
        <div class="section-title" style="font-family:monospace; color: #999; border:0;'">Categories</div>
          <div class="inner-portlet-content" id="categoryTreeParent">
            <div data-lift="configuration.RuleManagement.viewCategories" ></div>
          </div>
      </div>
      <div class="inner-portlet" style="float:left; min-width:300px; width:60%; border-left: 1px #656565 solid; margin-top:40px; padding-left:40px;">
        <div class="section-title" style="font-family:monospace; color: #999; border:0;'" id="categoryDisplay">Rules</div>
        <div class="inner-portlet-content">
          <div data-lift="configuration.RuleManagement.viewRules" ></div>
        </div>
      </div>
    </div>
    </component:ruleTargetTab>

</xml:group>
